@tailwind base;
@tailwind components;
@tailwind utilities;

/*
* {
  box-sizing: border-box;
  background: rgb(0 100 0 / 0.1) !important;
}
*/

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.midbar{
  display: grid;
  grid-template-columns: 15rem auto 15rem;
}

.midbar-content{ /* Parent is grid */
  justify-self: center;
  left: 15rem; /* Same as the width of the sidenav */
  right: 15rem;
}
